import * as S from './styles'

export type {{pascalCase name}}Props = {
  title: string
}

const {{pascalCase name}} = ({ title }: {{pascalCase name}}Props) => {
  return (
    <S.Wrapper>
      <h1>{title}</h1>
    </S.Wrapper>
  )
}

export default {{pascalCase name}}
